/web/images/*
!/web/images/.gitkeep
!/web/images/avatars/.gitkeep
!/web/images/cars/.gitkeep
!/web/images/avatars/default_avatar.jpg
!/web/images/cars/default_car.jpg
/web/assets
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/bin/
/composer.phar
