# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    admin.email: ghanbari.daniel@gmail.com
    admin.username: ghanbari
    admin.password: 123456789

    test.passenger: true
    test.passenger.credentials:
        "09371639233": "123456789"
        "09371639234": "123456789"
        "09371639235": "123456789"
        "09371639236": "123456789"

    test.driver: true
    test.driver.credentials:
        "3674240696": "123456789"
        "3674240697": "123456789"
        "3674240698": "123456789"
        "3674240699": "123456789"
    test.agency.admin.credentials:
        "agency1": 123456789
        "agency2": 123456789
        "agency3": 123456789